/*    FONTS    */
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.otf');
}
@font-face {
    font-family: 'Rokkitt';
    src: url('../fonts/Rokkitt.otf');
}
@font-face {
    font-family: 'Quicksand Light';
    src: url('../fonts/Quicksand-Light.otf');
}
/*    MAIN    */
html, body {
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    background: transparent;
    width: 100%;
}
/*    HEADER    */
.header {
    background: linear-gradient(rgba(224, 183, 181, 0.75), rgba(224, 183, 181, 0.75)), url("../images/header.jpg");
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 5em 10em 7em 10em;
    position: relative;
    text-align: center;
}
.header ul li {
    font-family: Myriad Pro;
}
.header ul {
    list-style-type: none;
    margin: 5px 2px;
    padding: 0;
    overflow: hidden;
}
.header #logo {
    float:left;
}
.header li {
    float: right;
}
.header li a {
    display: inline;
    padding: 8px;
    text-decoration: none;
    color: white;
}
.header li a:after {
    text-decoration: underline;
}
.header li a:hover {
    text-decoration: underline;
    color: #1abc9c;
}
#inner h1 {
    margin-top: 12%;
    font-family: Rokkitt;
    font-size: 4em;
    font-weight: 100;
    line-height: 8px;
}
#inner hr{
    border: 0;
    height: 1px;
    width: 60%;
    margin-top: 3%;
    margin-bottom: 2%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
#inner p {
    font-family: Quicksand Light;
    font-size: 1.2em;
}
button#goahead {
    background-image: url("../images/goahead.png");
    opacity: 0.98;
    font-family: Rokkitt;
    color: #ffffff;
    font-size: 20px;
    cursor:pointer;
    width: 218px;
    height: 57px;
    border: none;
    text-decoration: none;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateY(120%) translateX(-50%);
}
/*    INTRODUCTION    */
.container {
    background-color: #FFFFFF;
    margin-top: 8%;
}
#intro {
    margin: 5% 10%;
}
#intro h1 {
    font-family: Myriad Pro;
    text-align: center;
    margin-bottom: 4%;
}
#intro h1 a {
    color: #1abc9c;
    text-decoration: none;
}
#intro p{
    font-family: Myriad Pro;
    color: #95a5a6;
    text-align: center;
}
.boxes {
    text-align: justify;
    text-justify: inter-word;
    text-align-last: center;
}
.boxes p {
    font-family: Myriad Pro;
    color: #95a5a6;
    margin-left: 4%;
    margin-right: 4%;
}
.boxes h3 {
    font-family: Myriad Pro;
    color: #1abc9c;
}
/*    PORTFOLIO    */
#portfolio {
    margin: 5% 5%;
    text-align: center;
}
.figurecaption {
    position: relative;
    padding: 0;
    margin: 0;  
    display: inline;
    text-align: left;
}
.figurecaptiontext, .figurecaptiontext2, .figurecaptiontext3 {
    opacity: 0;
    position: absolute;
    width: 390px;
    color: #fff;
    font-family: Rokkitt;
    font-size: 25px;
    font-weight: lighter;
    padding: 0.75em 1em;
    font-weight: 100;
    z-index: 2;
    background-color: rgb(26, 188, 156);
    transition: opacity .3s ease-in-out;
    left: 0%;
    transform: translateY(-99px);
    line-height: 23px;
    border-top: 8px solid rgba(41, 116, 101, 0.26);
}
.figurecaptionparagraph {
    color: rgb(41, 116, 101);
    font-size: 19px;
}
.figurecaption:hover .figurecaptiontext {
    opacity: 1;
}
.figurecaption:hover .figurecaptiontext2 {
    opacity: 1;
}
.figurecaption:hover .figurecaptiontext3 {
    opacity: 1;
}
.searchbuttonicon {
    background-image: url(../images/searchbutton.png);
    background-repeat: no-repeat;
    opacity: 0;
    font-family: Rokkitt;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    text-decoration: none;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateY(-542%) translateX(113%);
    transition: opacity .3s ease-in-out;
}
.searchbuttonicon2 {
    background-image: url(../images/searchbutton.png);
    background-repeat: no-repeat;
    opacity: 0;
    font-family: Rokkitt;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    text-decoration: none;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateY(-542%) translateX(265%);
    transition: opacity .3s ease-in-out;
}
.figurecaption:hover .searchbuttonicon {
    opacity: 0.85;
}
.figurecaption:hover .searchbuttonicon2 {
    opacity: 0.85;
}
#img1gallery2 {
    background: linear-gradient(rgba(224, 183, 181, 0.45), rgba(224, 183, 181, 0.45)), url("../images/gallery1.jpg");
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 154px;
    position: relative;
    display: inline-block;
    width: 32%;
    height: 287px;
    transition: opacity 0.3s ease-in-out;
}
#img1gallery2:hover {
    background: url("../images/gallery1.jpg");
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#img2gallery2 {
    background: linear-gradient(rgba(224, 183, 181, 0.45), rgba(224, 183, 181, 0.45)), url("../images/gallery2.jpg");
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: inline-block;
    width: 32%;
    height: 287px;
}
#img2gallery2:hover {
    background: url("../images/gallery2.jpg");
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#img3gallery2 {
    background: linear-gradient(rgba(224, 183, 181, 0.45), rgba(224, 183, 181, 0.45)), url("../images/gallery3.jpg");
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 154px;
    margin-top: 75px;
    position: relative;
    display: inline-block;
    width: 32%;
    height: 287px;
}
#img3gallery2:hover {
    background: url("../images/gallery3.jpg");
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#img4gallery2 {
    background: linear-gradient(rgba(224, 183, 181, 0.45), rgba(224, 183, 181, 0.45)), url("../images/gallery4.jpg");
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 75px;
    display: inline-block;
    width: 32%;
    height: 287px;
}
#img4gallery2:hover {
    background: url("../images/gallery4.jpg");
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#img2gallery {
    width: 35%;
}
#img3gallery {
    margin-right: 213px;
    margin-top: 75px;
    width: 35%;
}
#img4gallery {
    margin-top: 75px;
    width: 35%;
}
#viewmore {
    font-family: Rokkitt;
    margin: 5% 0%;
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    font-weight: 100;
    transition-duration: 0.3s;
}
#viewmore:hover {
    background-color: #149279;
    border: 1px solid #149279;
}
#viewmore i {
    font-size: 24px;
}
/*    FORM    */
.form {
    text-align: center;
}
.form h1 {
    font-family: Myriad Pro;
    color: #1abc9c;
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 4%;
}
.form input[name=name] {
    margin-top: 2%;
    background-color: rgb(228, 232, 232);
    color: #8c8c8c;
    padding: 20px 20px;
    border: none;
    font-family: Rokkitt;
    font-size: 21px;
    
}
.form input[name=email] {
    margin-top: 2%;
    background-color: rgb(228, 232, 232);
    color: #8c8c8c;
    padding: 20px 20px;
    border: none;
    font-family: Rokkitt;
    font-size: 21px;
}
.form textarea[name=textarea] {
    margin-top: 2%;
    background-color: rgb(228, 232, 232);
    color: #8c8c8c;
    padding: 20px 20px;
    border: none;
    resize: none;
    padding-bottom: 14%;
    font-family: Rokkitt;
    font-size: 21px;
    width: 544px;
}
/*    FOOTER    */
.footer {
    margin-top: 8%;
    padding-bottom: 0px;
    background-color: rgb(26, 188, 156);
    color: #ffffff;
    position: absolute;
    width: 100%
}
#squares {
    padding: 17px 25px 8px 25px;
    font-family: Rokkitt;
    margin-bottom: 4%;
    background-color: #fff;
    border: 5px solid #1abc9c;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    transition-duration: 0.3s;
    vertical-align: middle;
}
.square1 {
    transform: translateY(-24%) translateX(88%);
}
.square2 {
    transform: translateY(-24%) translateX(73%);
}
.square3 {
    transform: translateY(-24%) translateX(45%);
}
#squares:hover {
    background-color: #fff;
}
#squares i {
    color: #1abc9c;
}
#squares i:hover {
    color: #149279;
}
.margin1 {
    margin-left: 23.2%;
    margin-right: 17%;
    float: left;
    display: inline-block;
}
.margin3 {
    float: right;
    margin-right: 23.2%;
    display: inline-block;
}
div#textbox  a {
	color: #fff;
	transition: opacity 0.3s ease-in-out;
}
div#textbox  a:hover {
	color: #cecbcb;
}
#leftfoo {
    margin: 0% 4% 0% 18%;
    font-family: Rokkitt;
    font-size: 18px;
    font-weight: 100;
    float: left;
}
#rightfoo {
    margin: 0% 18% 4% 0%;
    font-family: Rokkitt;
    font-size: 18px;
    font-weight: 100;
    float: right;
}